
Application/.vs/ARINNASOL-ERP-BLL/v16/Server/sqlite3/storage.ide
Application/.vs/ARINNASOL-ERP-BLL/v16/Server/sqlite3/db.lock
Application/.vs/ARINNASOL-ERP-BLL/v16/.suo
Application/.vs/ARINNASOL-ERP-BLL/v15/Server/sqlite3/storage.ide-wal
Application/.vs/ARINNASOL-ERP-BLL/v15/Server/sqlite3/storage.ide-shm
Application/.vs/ARINNASOL-ERP-BLL/v15/Server/sqlite3/storage.ide
Application/.vs/ARINNASOL-ERP-BLL/v15/Server/sqlite3/db.lock
